

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

    # - uses: cachix/cachix-action@v14
    #   with:
    #     name: your-cachix-cache  # optional but speeds up massively
    #     authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

    - name: Run Nix tests
      run: |
        nix flake check --show-trace --print-build-logs